Dataset Preparation:
- remove missing values
- cleaning data (emoji, new line, not string character, etc)
- Remove duplicate data

Data Labelling:
- Manually labeling classes of each row between neutral, positive and negativ review

# Import Required Library

In [8]:
import pandas as pd
import tensorflow as tf
import re
import time

#dataset Preparation

## Load Dataset

In [ ]:
#Data from crawl in github repo
!wget https://raw.githubusercontent.com/H4rfu1/ML-project-TokoLitik-tim-Undagi/main/Response/dataset_review_tokped.csv

--2021-05-10 07:35:51--  https://raw.githubusercontent.com/H4rfu1/ML-project-TokoLitik-tim-Undagi/main/Response/dataset_review_tokped.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 346752 (339K) [text/plain]
Saving to: ‚Äòdataset_review_tokped.csv‚Äô

dataset_review_tokp 100%[===================>] 338.62K  --.-KB/s    in 0.04s

2021-05-10 07:35:51 (9.10 MB/s) - ‚Äòdataset_review_tokped.csv‚Äô saved [346752/346752]

In [ ]:
#dataset from crawling process
df = pd.read_csv('/content/dataset_review_tokped.csv', index_col=[0])
df

                                                 Review  Rating
0                                              maaantap       5
1                                          Enak & segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram.\nEntah d...       4
4                        enak banget, fresh dan renyah!       5
...                                                 ...     ...
5423                    good product, trusted seller üëçüëç       5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

##Cleaning Process

In [ ]:
#remove messy enter charracter
df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)
df

                                                 Review  Rating
0                                              maaantap       5
1                                          Enak & segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram. Entah da...       4
4                        enak banget, fresh dan renyah!       5
...                                                 ...     ...
5423                    good product, trusted seller üëçüëç       5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [ ]:
#remove emoji
df['Review'] = df['Review'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)
# df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df

                                                 Review  Rating
0                                              maaantap       5
1                                           Enak  segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram. Entah da...       4
4                         enak banget, fresh dan renyah       5
...                                                 ...     ...
5423                      good product, trusted seller        5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [ ]:
#conver data to lowercase
df['Review'] = df['Review'].str.lower()
df

                                                 Review  Rating
0                                              maaantap       5
1                                           enak  segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram. entah da...       4
4                         enak banget, fresh dan renyah       5
...                                                 ...     ...
5423                      good product, trusted seller        5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [ ]:
df["Review"] = df['Review'].str.replace('[^\w\s]',' ')
df

                                                 Review  Rating
0                                              maaantap       5
1                                           enak  segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram  entah da...       4
4                         enak banget  fresh dan renyah       5
...                                                 ...     ...
5423                      good product  trusted seller        5
5424                              sudah beli yg ke 3          5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [ ]:
# multiple space
df['Review'] = df['Review'].str.replace(' {2,}', ' ', regex=True)
df['Review'] = df['Review'].str.strip()
df

                                                 Review  Rating
0                                              maaantap       5
1                                            enak segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram entah dar...       4
4                          enak banget fresh dan renyah       5
...                                                 ...     ...
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [ ]:
#Drop Empty Rows
print(df.isnull().sum())
df.dropna(inplace = True)
print(df.isnull().sum())
df['Review'].astype(bool)
df = df[df['Review'].astype(bool)]
df

Review    305
Rating      0
dtype: int64
Review    0
Rating    0
dtype: int64

                                                 Review  Rating
0                                              maaantap       5
1                                            enak segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram entah dar...       4
4                          enak banget fresh dan renyah       5
...                                                 ...     ...
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5028 rows x 2 columns]

In [ ]:
#Removes duplicates in place
df.drop_duplicates(keep=False, inplace=True)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                                 Review  Rating
10                                        enak kuacinya       5
12    pengiriman cepat packing bagus sesuai pesanan ...       5
13    pengemasan luar biasa baik untuk rasa menurut ...       4
15                                      terimakasih min       5
16                   udah order untuk kesekian kali jos       5
...                                                 ...     ...
5421  seller sangat responsif rasa belum dicoba kare...       5
5422                          imut2 banget packing aman       5
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4

[4060 rows x 2 columns]

##Export to csv

In [ ]:
# saving the dataset
df.to_csv('dataset_review_tokped_cleaned.csv', index=False)
df

                                                 Review  Rating
10                                        enak kuacinya       5
12    pengiriman cepat packing bagus sesuai pesanan ...       5
13    pengemasan luar biasa baik untuk rasa menurut ...       4
15                                      terimakasih min       5
16                   udah order untuk kesekian kali jos       5
...                                                 ...     ...
5421  seller sangat responsif rasa belum dicoba kare...       5
5422                          imut2 banget packing aman       5
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4

[4060 rows x 2 columns]

#dataset Labelling

## Load Dataset

In [2]:
#Data from cleaned dataset
!wget https://raw.githubusercontent.com/H4rfu1/ML-project-TokoLitik-tim-Undagi/main/Response/dataset_review_tokped_cleaned.csv

--2021-05-11 02:07:25--  https://raw.githubusercontent.com/H4rfu1/ML-project-TokoLitik-tim-Undagi/main/Response/dataset_review_tokped_cleaned.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 258624 (253K) [text/plain]
Saving to: ‚Äòdataset_review_tokped_cleaned.csv‚Äô

dataset_review_tokp 100%[===================>] 252.56K  --.-KB/s    in 0.006s

2021-05-11 02:07:25 (44.6 MB/s) - ‚Äòdataset_review_tokped_cleaned.csv‚Äô saved [258624/258624]

In [3]:
#dataset from crawling process
df = pd.read_csv('dataset_review_tokped_cleaned.csv')
df

                                                 Review  Rating
0                                         enak kuacinya       5
1     pengiriman cepat packing bagus sesuai pesanan ...       5
2     pengemasan luar biasa baik untuk rasa menurut ...       4
3                                       terimakasih min       5
4                    udah order untuk kesekian kali jos       5
...                                                 ...     ...
4055  seller sangat responsif rasa belum dicoba kare...       5
4056                          imut2 banget packing aman       5
4057                        good product trusted seller       5
4058                                 sudah beli yg ke 3       5
4059                                    byk campurannya       4

[4060 rows x 2 columns]

##Labelling Process

In [4]:
#add new label class 'Sentiment' with default value neutral
df['Sentiment'] = 'neutral'
df

                                                 Review  Rating Sentiment
0                                         enak kuacinya       5   neutral
1     pengiriman cepat packing bagus sesuai pesanan ...       5   neutral
2     pengemasan luar biasa baik untuk rasa menurut ...       4   neutral
3                                       terimakasih min       5   neutral
4                    udah order untuk kesekian kali jos       5   neutral
...                                                 ...     ...       ...
4055  seller sangat responsif rasa belum dicoba kare...       5   neutral
4056                          imut2 banget packing aman       5   neutral
4057                        good product trusted seller       5   neutral
4058                                 sudah beli yg ke 3       5   neutral
4059                                    byk campurannya       4   neutral

[4060 rows x 3 columns]

In [58]:
'''
  labeling process, 1 => while sentiment negative, 2 => while sentiment positive
  negative : while the review state negative of product / negative service / need of improvement
  p
  
  ositif  : while the re state positive feedback about product / goog service
  neutral  : while the review out of topic about product and service, for example -> word of gratitude [thanks, etc]
  
'''
#initial progress
count = len(df[['Review']])

#timer start2
start_time = time.perf_counter()
for i, review in df[['Review']][4059:].iterrows():

  print('Review {} = {} '.format(i, review['Review']))
  sentiment = input('Sentiment : ')
  if(sentiment == '1'):
    df.loc[i,'Sentiment'] = 'negative'
  elif(sentiment == '2'):
    df.loc[i,'Sentiment'] = 'positive'
  else:
    df.loc[i,'Sentiment'] = 'neutral'

  
  #persen proses crawling
  (minutes, seconds) = divmod(int(time.perf_counter() - start_time), 60)
  print('--- | Progress {0:.2f}% | elapse time: {1} minutes {2} seconds | ---'.format((i+1)/count*100, minutes, seconds))
  print()

Review 4059 = byk campurannya
Sentiment :
--- | Progress 100.00% | elapse time: 0 minutes 1 seconds | ---

In [59]:
df

                                                 Review  Rating Sentiment
0                                         enak kuacinya       5  positive
1     pengiriman cepat packing bagus sesuai pesanan ...       5  positive
2     pengemasan luar biasa baik untuk rasa menurut ...       4  negative
3                                       terimakasih min       5   neutral
4                    udah order untuk kesekian kali jos       5   neutral
...                                                 ...     ...       ...
4055  seller sangat responsif rasa belum dicoba kare...       5   neutral
4056                          imut2 banget packing aman       5  positive
4057                        good product trusted seller       5  positive
4058                                 sudah beli yg ke 3       5   neutral
4059                                    byk campurannya       4   neutral

[4060 rows x 3 columns]

In [27]:
0.453*len(df[['Review']])

1839.18

##Export to csv

In [60]:
# saving the dataset
df.to_csv('dataset_review_tokped_labelled.csv', index=False)
df

                                                 Review  Rating Sentiment
0                                         enak kuacinya       5  positive
1     pengiriman cepat packing bagus sesuai pesanan ...       5  positive
2     pengemasan luar biasa baik untuk rasa menurut ...       4  negative
3                                       terimakasih min       5   neutral
4                    udah order untuk kesekian kali jos       5   neutral
...                                                 ...     ...       ...
4055  seller sangat responsif rasa belum dicoba kare...       5   neutral
4056                          imut2 banget packing aman       5  positive
4057                        good product trusted seller       5  positive
4058                                 sudah beli yg ke 3       5   neutral
4059                                    byk campurannya       4   neutral

[4060 rows x 3 columns]