Dataset Preparation:
- remove missing values
- cleaning data (emoji, new line, not string character, etc)
- Remove duplicate data

Data Labelling:
- Manually labeling classes of each row between neutral, positive and negativ review

# Import Required Library

In [20]:
import pandas as pd
import tensorflow as tf
import re

# Load Dataset

In [74]:
#Data from crawl in github repo
!wget https://raw.githubusercontent.com/H4rfu1/ML-project-TokoLitik-tim-Undagi/main/Response/dataset_review_tokped.csv

--2021-05-10 07:35:51--  https://raw.githubusercontent.com/H4rfu1/ML-project-TokoLitik-tim-Undagi/main/Response/dataset_review_tokped.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 346752 (339K) [text/plain]
Saving to: ‚Äòdataset_review_tokped.csv‚Äô

dataset_review_tokp 100%[===================>] 338.62K  --.-KB/s    in 0.04s

2021-05-10 07:35:51 (9.10 MB/s) - ‚Äòdataset_review_tokped.csv‚Äô saved [346752/346752]

In [75]:
#dataset from crawling process
df = pd.read_csv('/content/dataset_review_tokped.csv', index_col=[0])
df

                                                 Review  Rating
0                                              maaantap       5
1                                          Enak & segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram.\nEntah d...       4
4                        enak banget, fresh dan renyah!       5
...                                                 ...     ...
5423                    good product, trusted seller üëçüëç       5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

#dataset Preparation

In [76]:
#remove messy enter charracter
df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)
df

                                                 Review  Rating
0                                              maaantap       5
1                                          Enak & segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram. Entah da...       4
4                        enak banget, fresh dan renyah!       5
...                                                 ...     ...
5423                    good product, trusted seller üëçüëç       5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [77]:
#remove emoji
df['Review'] = df['Review'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)
# df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df

                                                 Review  Rating
0                                              maaantap       5
1                                           Enak  segar       5
2                                               maknyus       5
3     Dari berat 500 gram yg remuk 59 gram. Entah da...       4
4                         enak banget, fresh dan renyah       5
...                                                 ...     ...
5423                      good product, trusted seller        5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [78]:
#conver data to lowercase
df['Review'] = df['Review'].str.lower()
df

                                                 Review  Rating
0                                              maaantap       5
1                                           enak  segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram. entah da...       4
4                         enak banget, fresh dan renyah       5
...                                                 ...     ...
5423                      good product, trusted seller        5
5424                              sudah beli yg ke 3 ..       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [79]:
df["Review"] = df['Review'].str.replace('[^\w\s]',' ')
df

                                                 Review  Rating
0                                              maaantap       5
1                                           enak  segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram  entah da...       4
4                         enak banget  fresh dan renyah       5
...                                                 ...     ...
5423                      good product  trusted seller        5
5424                              sudah beli yg ke 3          5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [80]:
# multiple space
df['Review'] = df['Review'].str.replace(' {2,}', ' ', regex=True)
df['Review'] = df['Review'].str.strip()
df

                                                 Review  Rating
0                                              maaantap       5
1                                            enak segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram entah dar...       4
4                          enak banget fresh dan renyah       5
...                                                 ...     ...
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5428 rows x 2 columns]

In [81]:
#Drop Empty Rows
print(df.isnull().sum())
df.dropna(inplace = True)
print(df.isnull().sum())
df['Review'].astype(bool)
df = df[df['Review'].astype(bool)]
df

Review    305
Rating      0
dtype: int64
Review    0
Rating    0
dtype: int64

                                                 Review  Rating
0                                              maaantap       5
1                                            enak segar       5
2                                               maknyus       5
3     dari berat 500 gram yg remuk 59 gram entah dar...       4
4                          enak banget fresh dan renyah       5
...                                                 ...     ...
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4
5426                                               good       5
5427                                               good       4

[5028 rows x 2 columns]

In [82]:
#Removes duplicates in place
df.drop_duplicates(keep=False, inplace=True)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                                 Review  Rating
10                                        enak kuacinya       5
12    pengiriman cepat packing bagus sesuai pesanan ...       5
13    pengemasan luar biasa baik untuk rasa menurut ...       4
15                                      terimakasih min       5
16                   udah order untuk kesekian kali jos       5
...                                                 ...     ...
5421  seller sangat responsif rasa belum dicoba kare...       5
5422                          imut2 banget packing aman       5
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4

[4060 rows x 2 columns]

In [83]:
# saving the dataset
df.to_csv('dataset_review_tokped_cleaned.csv')
df

                                                 Review  Rating
10                                        enak kuacinya       5
12    pengiriman cepat packing bagus sesuai pesanan ...       5
13    pengemasan luar biasa baik untuk rasa menurut ...       4
15                                      terimakasih min       5
16                   udah order untuk kesekian kali jos       5
...                                                 ...     ...
5421  seller sangat responsif rasa belum dicoba kare...       5
5422                          imut2 banget packing aman       5
5423                        good product trusted seller       5
5424                                 sudah beli yg ke 3       5
5425                                    byk campurannya       4

[4060 rows x 2 columns]

#dataset Labelling