<a href="https://colab.research.google.com/github/H4rfu1/ML-project-TokoLitik-tim-Undagi/blob/main/Response/MainProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Required Library

In [ ]:
import pandas as pd
import tensorflow as tf
import zipfile

from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Load Dataset

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import files
files.upload()

{}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d hgultekin/bbcnewsarchive

bbcnewsarchive.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!ls

 bbcnewsarchive.zip   gdrive		 kaggle.json
 files		     'kaggle (1).json'	 sample_data

In [ ]:
zip_ref = zipfile.ZipFile('bbcnewsarchive.zip', 'r')
zip_ref.extractall('files')
zip_ref.close()

In [ ]:
!ls

 bbcnewsarchive.zip   gdrive		 kaggle.json
 files		     'kaggle (1).json'	 sample_data

In [ ]:
#sumber dataset https://www.kaggle.com/hgultekin/bbcnewsarchive?select=bbc-news-data.csv

df = pd.read_csv('files/bbc-news-data.csv',sep='\t')

# Check Dataset

In [ ]:
#to check shape of the dataset
print(df.shape) 

#to look the header of dataset
df.head()

(2225, 4)

   category  ...                                            content
0  business  ...   Quarterly profits at US media giant TimeWarne...
1  business  ...   The dollar has hit its highest level against ...
2  business  ...   The owners of embattled Russian oil giant Yuk...
3  business  ...   British Airways has blamed high fuel prices f...
4  business  ...   Shares in UK drinks and food firm Allied Dome...

[5 rows x 4 columns]

In [ ]:
#drop unecesary column
df = df.drop(columns=['filename'])
df = df.drop(columns=['title'])

#separate column category and add value to it
category = pd.get_dummies(df.category)
df_new = pd.concat([df, category], axis=1)
df_new = df_new.drop(columns='category')
df_new

                                                content  business  ...  sport  tech
0      Quarterly profits at US media giant TimeWarne...         1  ...      0     0
1      The dollar has hit its highest level against ...         1  ...      0     0
2      The owners of embattled Russian oil giant Yuk...         1  ...      0     0
3      British Airways has blamed high fuel prices f...         1  ...      0     0
4      Shares in UK drinks and food firm Allied Dome...         1  ...      0     0
...                                                 ...       ...  ...    ...   ...
2220   BT is introducing two initiatives to help bea...         0  ...      0     1
2221   Computer users across the world continue to i...         0  ...      0     1
2222   A new European directive could put software w...         0  ...      0     1
2223   The man making sure US computer networks are ...         0  ...      0     1
2224   Online role playing games are time-consuming,...         0  ...      0     1

[2225 rows x 6 columns]

# Peprocess Dataset

In [ ]:
#remove punctuations
import string
def punctuation(sentence):
    review = [letters.lower() for letters in sentence if letters not in string.punctuation ]
    review = ''.join(review)
    return review

df['review'] = df['review'].apply(punctuation)

                                                content  business  ...  sport  tech
0      Quarterly profits at US media giant TimeWarne...         1  ...      0     0
1      The dollar has hit its highest level against ...         1  ...      0     0
2      The owners of embattled Russian oil giant Yuk...         1  ...      0     0
3      British Airways has blamed high fuel prices f...         1  ...      0     0
4      Shares in UK drinks and food firm Allied Dome...         1  ...      0     0
...                                                 ...       ...  ...    ...   ...
2220   BT is introducing two initiatives to help bea...         0  ...      0     1
2221   Computer users across the world continue to i...         0  ...      0     1
2222   A new European directive could put software w...         0  ...      0     1
2223   The man making sure US computer networks are ...         0  ...      0     1
2224   Online role playing games are time-consuming,...         0  ...      0     1

[2225 rows x 6 columns]

# change data type

In [ ]:
#get label of dataset
content = df_new['content'].values
label = df_new[['business', 'entertainment', 'politics', 'sport', 'tech']].values

# Build Train and test sets

In [ ]:
content_train, content_test, label_train, label_test = train_test_split(content, label, test_size=0.2)

# Tokenizer

In [ ]:
tokenizer = Tokenizer(num_words=5000, oov_token='OOV')
tokenizer.fit_on_texts(content_train) 
 
sekuens_train = tokenizer.texts_to_sequences(content_train)
sekuens_test = tokenizer.texts_to_sequences(content_test)
 
padded_train = pad_sequences(sekuens_train, padding='post', maxlen=200) 
padded_test = pad_sequences(sekuens_test, padding='post', maxlen=200)

# Build Model

In [ ]:
#build model
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(5, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

# Callback

In [ ]:
#to stop train while acuracy greather than 90%
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('accuracy') > 0.9 and logs.get('val_accuracy') > 0.9):
      print("\nAccuracy and val accuracy has reach >90%!")
      self.model.stop_training = True
callbacks = myCallback()

# Train

In [ ]:
num_epochs = 150
history = model.fit(padded_train, label_train, epochs=num_epochs, callbacks=[callbacks],
                    validation_data=(padded_test, label_test), verbose=2)

Epoch 1/150
56/56 - 6s - loss: 1.5828 - accuracy: 0.2528 - val_loss: 1.5671 - val_accuracy: 0.2157
Epoch 2/150
56/56 - 6s - loss: 1.4111 - accuracy: 0.3472 - val_loss: 1.1838 - val_accuracy: 0.4921
Epoch 3/150
56/56 - 6s - loss: 1.2176 - accuracy: 0.5101 - val_loss: 1.1672 - val_accuracy: 0.4854
Epoch 4/150
56/56 - 6s - loss: 0.9357 - accuracy: 0.5978 - val_loss: 1.0607 - val_accuracy: 0.5416
Epoch 5/150
56/56 - 6s - loss: 0.7120 - accuracy: 0.7051 - val_loss: 0.8560 - val_accuracy: 0.6787
Epoch 6/150
56/56 - 6s - loss: 0.6199 - accuracy: 0.7528 - val_loss: 0.8041 - val_accuracy: 0.6629
Epoch 7/150
56/56 - 6s - loss: 0.3962 - accuracy: 0.8556 - val_loss: 0.8213 - val_accuracy: 0.6921
Epoch 8/150
56/56 - 6s - loss: 0.3075 - accuracy: 0.9011 - val_loss: 1.0578 - val_accuracy: 0.6944
Epoch 9/150
56/56 - 6s - loss: 0.2339 - accuracy: 0.9174 - val_loss: 0.8755 - val_accuracy: 0.7326
Epoch 10/150
56/56 - 6s - loss: 0.1175 - accuracy: 0.9674 - val_loss: 0.8166 - val_accuracy: 0.7865
Epoch 11/150
56/56 - 6s - loss: 0.1809 - accuracy: 0.9461 - val_loss: 0.8267 - val_accuracy: 0.7438
Epoch 12/150
56/56 - 6s - loss: 0.3955 - accuracy: 0.8657 - val_loss: 0.6710 - val_accuracy: 0.8022
Epoch 13/150
56/56 - 6s - loss: 0.1947 - accuracy: 0.9388 - val_loss: 0.6964 - val_accuracy: 0.8067
Epoch 14/150
56/56 - 6s - loss: 0.0395 - accuracy: 0.9876 - val_loss: 0.6945 - val_accuracy: 0.8787
Epoch 15/150
56/56 - 6s - loss: 0.0463 - accuracy: 0.9876 - val_loss: 0.7346 - val_accuracy: 0.8427
Epoch 16/150
56/56 - 6s - loss: 0.0618 - accuracy: 0.9770 - val_loss: 0.6359 - val_accuracy: 0.8607
Epoch 17/150
56/56 - 6s - loss: 0.0439 - accuracy: 0.9893 - val_loss: 0.8304 - val_accuracy: 0.8202
Epoch 18/150
56/56 - 6s - loss: 0.0208 - accuracy: 0.9944 - val_loss: 0.6983 - val_accuracy: 0.8719
Epoch 19/150
56/56 - 6s - loss: 0.0075 - accuracy: 0.9983 - val_loss: 0.7439 - val_accuracy: 0.8764
Epoch 20/150
56/56 - 6s - loss: 0.0195 - accuracy: 0.9955 - val_loss: 0.7199 - val_accuracy: 0.8472
Epoch 21/150
56/56 - 6s - loss: 0.0386 - accuracy: 0.9893 - val_loss: 0.9332 - val_accuracy: 0.8652
Epoch 22/150
56/56 - 6s - loss: 0.0263 - accuracy: 0.9910 - val_loss: 0.7739 - val_accuracy: 0.8607
Epoch 23/150
56/56 - 6s - loss: 0.0054 - accuracy: 0.9989 - val_loss: 0.6966 - val_accuracy: 0.8876
Epoch 24/150
56/56 - 6s - loss: 0.1869 - accuracy: 0.9708 - val_loss: 1.8477 - val_accuracy: 0.5551
Epoch 25/150
56/56 - 6s - loss: 0.4820 - accuracy: 0.8208 - val_loss: 0.9045 - val_accuracy: 0.7146
Epoch 26/150
56/56 - 6s - loss: 0.1438 - accuracy: 0.9534 - val_loss: 0.9350 - val_accuracy: 0.7551
Epoch 27/150
56/56 - 6s - loss: 0.0830 - accuracy: 0.9747 - val_loss: 0.7059 - val_accuracy: 0.8337
Epoch 28/150
56/56 - 6s - loss: 0.0638 - accuracy: 0.9837 - val_loss: 1.0327 - val_accuracy: 0.7438
Epoch 29/150
56/56 - 6s - loss: 0.0957 - accuracy: 0.9702 - val_loss: 0.7401 - val_accuracy: 0.8404
Epoch 30/150
56/56 - 6s - loss: 0.0360 - accuracy: 0.9899 - val_loss: 0.7024 - val_accuracy: 0.8517
Epoch 31/150
56/56 - 6s - loss: 0.0242 - accuracy: 0.9949 - val_loss: 0.6231 - val_accuracy: 0.8764
Epoch 32/150
56/56 - 6s - loss: 0.0138 - accuracy: 0.9955 - val_loss: 0.7161 - val_accuracy: 0.8629
Epoch 33/150
56/56 - 7s - loss: 0.0505 - accuracy: 0.9854 - val_loss: 0.7391 - val_accuracy: 0.8539
Epoch 34/150
56/56 - 8s - loss: 0.0143 - accuracy: 0.9944 - val_loss: 0.6243 - val_accuracy: 0.8854
Epoch 35/150
56/56 - 7s - loss: 0.0017 - accuracy: 1.0000 - val_loss: 0.6078 - val_accuracy: 0.8899
Epoch 36/150
56/56 - 7s - loss: 0.0035 - accuracy: 0.9989 - val_loss: 0.6686 - val_accuracy: 0.8472
Epoch 37/150

Accuracy and val accuracy has reach >90%!
56/56 - 6s - loss: 0.0115 - accuracy: 0.9961 - val_loss: 0.6407 - val_accuracy: 0.9056